##############################
# core dependency
numpy
tomli

##############################
# if you want color on Windows; this is not required for macOS or Linux
colorama

##############################
# if you want the words to be pronounced aloud and if you have a
# Merriam-Webster's Collegiate (R) Dictionary With Audio API key, which may be
# acquired at Merriam-Webster's developer center
requests
fake-useragent

##############################
# if you'd like to see a progress bar when the app initializes itself
tqdm
